html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 254);
    font-size: 14px;
}

nav li{
    font-size: 18px;
    display: inline-block; 
}

nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.nav_links{
    display: flex;
    flex-direction: row;
}

nav{
    background-color: #06342D;
    padding: 30px 0px;
}


.headlines h1{
    font-size: 24px;
    text-align: center;
}

.headlines p{
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

footer{
    color: white;
    background-color: #203731;
    text-align: center;
    padding: 15px;
}

img{
    margin: 10px;
    display: flex;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item{
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}

#playerImg{
    max-width: 100px;
    max-height: 100px;
}

.grid-item p{
    max-width: 100px;
    max-height: 200px;
}

.playerIntro{
    color: #203731;
    text-align: center;
    font-size: 24px;
    padding: 15px;
}

.flex-game-container{
    display: flex;
    flex-direction: column;
}

.game-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

#gameImg{
    max-width: 200px;
    max-height: 200px;
}

.score{
    font-size: 20px;
}

.game-item{
    display: grid;
    grid-template-columns: auto auto;
}

.game-item p{
    align-self: center;
}

.team-name{
    padding-top: 3px;
    font-size: 24px;
}

.history{
    display: flex;
    flex-direction: column;
}

.history-item{
    display: grid;
    grid-template-columns: auto auto;
}

.even{
    text-align: right;
}

#historyImg{
    max-width: 200px;
    max-height: 200px;
}

#historyImgRight{
    max-width: 200px;
    max-height: 200px;
    justify-self: right;
}

.nav_item a:hover, a:focus{
    color: yellow;
    text-decoration: underline;
}


@-webkit-keyframes ball_fly{
    from { width: 10px;
        transform: translateX(0%); }
    to { width: 300px;
        transform: translateX(100%); }
}

@keyframes ball_fly{
    from { width: 10px;
        transform: translateX(0%); }
    to { width: 300px;
        transform: translateX(100%); }

}

#football{
    animation-name: ball_fly;
    animation-duration: 10s;  
}

@media (prefers-reduced-motion: reduce) {
    #football{
        animation: none;
    }
}